<launch>
  <arg name= "rosbag_record" default= "false"/>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"> 
  </include>

 <node pkg= "auto_roomba" name= "roomba_walker" type= "walker" output="screen"/>

 <node pkg="rosbag" type="record" name="rosbag_node" args="-a -O $(find auto_roomba)/results/roombarecord --duration=15 --exclude '/camera/*'"
        if="$(arg rosbag_record)"/>

</launch>